extends ../layouts/main.pug

block variables
  - var pageClass = 'admin-page';
  - var title = 'Admin page';

block content
  section
    .container
      +item('Hello on Admin page!', 'This page is place for castomization of environment')
  //script
  //  adm.getmode('isdevelopment')

block scripts
  script(src=htmlWebpackPlugin.files.js[3])
