/* Font */
$mainFont : Oswald, Helvetica, Arial, sans-serif;

/* Size */
$mainFontColor : #885522;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 980px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

/* Main color */
$default-color: #f33ddf;
$primary-color: #40d0d8;
$success-color: #3aaaaa;
$danger-color: #933999;
$warning-color: #885858;
$light-color: #477777;
$purple-color: #166666;

/* Neutral Color */
$neutral-primary: #333333;
$neutral-regular: #555555;
$neutral-secondary: #888888;
$neutral-placeholder: #aaaaaa;

/* Border Color */
$border-base: #dd3366;
$border-light: #666611;
